ENCLAVE_NAME=cdk
KURTOSIS_PACKAGE_HASH=6fbc2880da6c2c82cf2a53b6f9e7354abbeb6ab3 # Kurtosis tag v0.3.4 + v9.0.0-rc.2-pp contracts + CDK-Erigon Validium by default
AGGLAYER_CONTRACTS_VERSION=feature/tools-fixes