ENCLAVE_NAME=cdk
KURTOSIS_PACKAGE_HASH=e05e8cdcfee52a106ec6850b8956b77171cdd948 # Kurtosis tag v0.3.4 + v9.0.0-rc.2-pp contracts + CDK-Erigon Validium by default
AGGLAYER_CONTRACTS_VERSION=feature/tools-fixes