ENCLAVE_NAME=pp-to-fep-test
MOCK_MODE=false
KURTOSIS_PACKAGE_HASH=eab01bb56e910c24c3d3afe6ace456a9ae1f5ac4
SP1_NETWORK_KEY=0x54ffe9b2ba4d75e6cf8bea92c25fee6fc96e40d66eaa1b23ec8964591aee9fd2
RANGE_PROOF_INTERVAL_OVERRIDE=100

# Image versions
AGGKIT_PROVER_IMAGE=ghcr.io/agglayer/aggkit-prover:0.1.0-rc.29
OP_SUCCINCT_PROPOSER_IMAGE=ghcr.io/agglayer/op-succinct/op-succinct:v2.2.1-agglayer