ENCLAVE_NAME=pp-to-fep-test
MOCK_MODE=false
KURTOSIS_PACKAGE_HASH=855aeebe364260fc4c43e902cd85488b2aa11586 # Kurtosis CDK with SP1 v5.0.0 support
# TODO: with 855aeebe364260fc4c43e902cd85488b2aa11586 the "0x" prefix in SP1_NETWORK_KEY must be removed.
SP1_NETWORK_KEY=54ffe9b2ba4d75e6cf8bea92c25fee6fc96e40d66eaa1b23ec8964591aee9fd2 # Replace with valid SP1 Key
RANGE_PROOF_INTERVAL_OVERRIDE=100

# Image versions
AGGKIT_PROVER_IMAGE=ghcr.io/agglayer/aggkit-prover:1.1.1
OP_SUCCINCT_PROPOSER_IMAGE=ghcr.io/agglayer/op-succinct/op-succinct:v2.3.1-agglayer