ENCLAVE_NAME=fep-optimistic-mode-test
MOCK_MODE=true
KURTOSIS_PACKAGE_HASH=4b9eeff8aab3f613eab56e69343cd3b758b33c74
# The agglayer image being used in the above Kurtosis commit (ghcr.io/agglayer/agglayer:0.3.2) requires the removal of "0x" prefix in the below SP1_NETWORK_KEY.
SP1_NETWORK_KEY=6937617dbf97e76016c4ec940e15393fda61b844495d471698b7513d964d5016 # Replace with valid SP1 Key
RANGE_PROOF_INTERVAL_OVERRIDE=128
AGGLAYER_WAIT_TIMEOUT=1000
AGGLAYER_RETRY_INTERVAL=50