AGL_ENCLAVE_NAME=agglayer
AGL_KURTOSIS_PACKAGE_TAG=v0.4.6
L1_PREALLOCATED_MNEMONIC="giant issue aisle success illegal bike spike question tent bar rely arctic volcano long crawl hungry vocal artwork sniff fantasy very lucky have athlete"

#OP_DEPLOYER_IMAGE=us-docker.pkg.dev/oplabs-tools-artifacts/images/op-deployer:v0.4.0-rc.3
OP_DEPLOYER_IMAGE="jhkimqd/op-deployer:v0.4.0-rc.2"
OP_GETH_IMAGE="us-docker.pkg.dev/oplabs-tools-artifacts/images/op-geth:v1.101503.4"
OP_NODE_IMAGE="us-docker.pkg.dev/oplabs-tools-artifacts/images/op-node:v1.13.2"
OP_BATCHER_IMAGE="us-docker.pkg.dev/oplabs-tools-artifacts/images/op-batcher:v1.12.0"
OP_PROPOSER_IMAGE="us-docker.pkg.dev/oplabs-tools-artifacts/images/op-proposer:v1.10.1-rc.2"