ENCLAVE_NAME=outpost
KURTOSIS_PACKAGE_TAG=11aad0a28a2d6000f5506d9f4344e768dd1ba49d
BASE_RPC_URL=https://base-sepolia.gateway.tenderly.co/xxxxxxxxxxxxxxx
BASE_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
