ENCLAVE_NAME=op
KURTOSIS_PACKAGE_HASH=2cf34e947d8cadd2d67d5f971b99b1c7a8486050 # 2025-10-21
AGGSENDER_VALIDATOR_NUMBER=2
AGGSENDER_MULTISIG_THRESHOLD=1
AGGORACLE_COMMITTEE_QUORUM=1
AGGORACLE_COMMITTEE_NUMBER=2