ENCLAVE_NAME=cdk
KURTOSIS_PACKAGE_HASH=e05e8cdcfee52a106ec6850b8956b77171cdd948 # Kurtosis tag v0.3.4 + v9.0.0-rc.2-pp contracts + CDK-Erigon Validium by default
AGGLAYER_CONTRACTS_VERSION=feature/tools-fixes
SP1_NETWORK_KEY=0x50630eb71ab68ff812fcb9b9c58859f9e9f70a62b7e9e97c9c1cc09d86c760d8  # Replace with valid key
NETWORK_RPC_URL=https://rpc.production.succinct.xyz

# Image versions
AGGLAYER_IMAGE=

FROM_IMAGE=
TO_IMAGE=