AGL_ENCLAVE_NAME=outpost
L1_PREALLOCATED_MNEMONIC="giant issue aisle success illegal bike spike question tent bar rely arctic volcano long crawl hungry vocal artwork sniff fantasy very lucky have athlete"
CDK_KURTOSIS_PACKAGE_TAG=main
POS_KURTOSIS_PACKAGE_TAG=main
