L1_RPC=https://mainnet.gateway.tenderly.co/xxxxxxxxxxxxxxxxxxx
L2_RPC=https://zkevm-rpc.com
L1_WS=wss://mainnet.gateway.tenderly.co/xxxxxxxxxxxxxxxxxxx
AGGLAYER_MANAGER=0x5132A183E9F3CB7C848b0AAC5Ae0c4f0491B7aB2
AGGLAYER_ADMIN=0x242daE44F5d8fb54B198D03a94dA45B5a4413e21
ROLLUP_ID=1
SP1_KEY=xxxxxxxxxxxxxxxxxxx
POL_ADDR=0x455e53cbb86018ac2b8092fdcd39d8444affc3f6
