ENCLAVE_NAME=rollback-l2-bridge-state-test
MOCK_MODE=true
KURTOSIS_PACKAGE_HASH=6168ba5717a26b8bc88e4da399cef1cb2865d6e4
SP1_NETWORK_KEY=0x54ffe9b2ba4d75e6cf8bea92c25fee6fc96e40d66eaa1b23ec8964591aee9fd2 # Replace with valid SP1 Key
RANGE_PROOF_INTERVAL_OVERRIDE=100
